{% extends 'layouts/main.html' %} {% block title %}New Venue{% endblock %} {%
  block content %}
  <div class="form-wrapper">
    {% from "forms/_formhelpers.html" import render_field_error %}
    <form method="post" class="form">
      {{ form.csrf_token }}
      <h3 class="form-heading">
        List a new venue
        <a href="{{ url_for('index') }}" title="Back to homepage"
          ><i class="fa fa-home pull-right"></i
        ></a>
      </h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
        {{render_field_error(form.name.errors)}}
      </div>
      <div class="form-group">
        <label>City & State</label>
        <div class="form-inline">
          <div class="form-group">
            {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            {{render_field_error(form.city.errors)}}
          </div>
          <div class="form-group">
            {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            {{render_field_error(form.state.errors)}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true) }}
        {{render_field_error(form.address.errors)}}
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        {{render_field_error(form.phone.errors)}}
      </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
        {{render_field_error(form.genres.errors)}}
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        {{ form.website(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        {{render_field_error(form.website.errors)}}
      </div>
      <div class="form-check form-check-inline">
        {{ form.seeking_talent(class_ = 'form-check-input', placeholder='http://', autofocus = true) }}
        {{render_field_error(form.seeking_talent.errors)}}
        <label for="seeking_talent">Seeking Talent</label>
      </div>
      <div class="form-group">
        <label for="seeking_description">Seeking Description</label>
        {{ form.seeking_description(class_ = 'form-control', autofocus = true) }}
        {{render_field_error(form.seeking_description.errors)}}
      </div>
      <div class="form-group">
        <label for="image_link">Image Link</label>
        {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        {{render_field_error(form.image_link.errors)}}
      </div>
      <div class="form-group">
        <label for="facebook_link">Facebook Link</label>
        {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        {{render_field_error(form.facebook_link.errors)}}
      </div>
      <input
        type="submit"
        value="Create Venue"
        class="btn btn-primary btn-lg btn-block"
      />
    </form>
  </div>
  <script>

    /*** Hide/Show Toggling for Seeking Description based on Seeking talent checkbox ***/
    const seeking_talent = document.getElementById('seeking_talent')
    showDescription(seeking_talent.checked)    
    seeking_talent.addEventListener('change', function () {
      showDescription(this.checked)      
    })

    function showDescription(status) {
      if (status) {
        document.getElementById('seeking_description').required = true
        document.getElementById('seeking_description').closest('div').style.display = 'block'
      } else {
        document.getElementById('seeking_description').required = false
        document.getElementById('seeking_description').closest('div').style.display = 'none'
      }
    }
  </script>
  {% endblock %}